In [ ]:
# NGHIA PHAN TRONG

In [1]:
import numpy as np
import pandas as pd

air = pd.read_csv("air.csv")

In [2]:
air.head()

,Unnamed: 0,Dest,Origin,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,ABE,ORD,3,22,6,1342.0,1350,1629.0,1637,...,2.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2,ABE,CLT,1,5,6,2034.0,1945,2155.0,2117,...,6.0,14.0,0,NaN,0,38.0,0.0,0.0,0.0,0.0
2,3,ABE,ORD,11,29,6,1837.0,1836,2127.0,2120,...,3.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,4,ABE,DTW,3,21,5,1006.0,1008,1123.0,1140,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,5,ABE,ORD,10,3,5,1803.0,1806,2040.0,2055,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [49]:
air.tail()

,Unnamed: 0,Dest,Origin,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
7001970,7001971,YUM,PHX,6,8,7,2150.0,2200,2300.0,2305,...,5.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7001971,7001972,YUM,LAX,1,18,5,1816.0,1820,2038.0,2036,...,4.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7001972,7001973,YUM,LAX,12,4,4,1147.0,1150,1400.0,1405,...,2.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7001973,7001974,YUM,LAX,12,10,3,1556.0,1600,1810.0,1815,...,4.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7001974,7001975,YUM,LAX,7,3,4,1637.0,1644,1752.0,1756,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [53]:
air.info(verbose=True, buf=None, max_cols=None, memory_usage=None, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001975 entries, 0 to 7001974
Data columns (total 29 columns):
Unnamed: 0           7001975 non-null int64
Dest                 7001975 non-null object
Origin               7001975 non-null object
Month                7001975 non-null int64
DayofMonth           7001975 non-null int64
DayOfWeek            7001975 non-null int64
DepTime              6865877 non-null float64
CRSDepTime           7001975 non-null int64
ArrTime              6850495 non-null float64
CRSArrTime           7001975 non-null int64
UniqueCarrier        7001975 non-null object
FlightNum            7001975 non-null int64
TailNum              6918653 non-null object
ActualElapsedTime    6847452 non-null float64
CRSElapsedTime       7001138 non-null float64
AirTime              6847452 non-null float64
ArrDelay             6847452 non-null float64
DepDelay             6865877 non-null float64
Distance             7001975 non-null int64
TaxiIn               6850495 non-null float64
TaxiOut              6865068 non-null float64
Cancelled            7001975 non-null int64
CancellationCode     137282 non-null object
Diverted             7001975 non-null int64
CarrierDelay         1523071 non-null float64
WeatherDelay         1523071 non-null float64
NASDelay             1523071 non-null float64
SecurityDelay        1523071 non-null float64
LateAircraftDelay    1523071 non-null float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

In [54]:
air.count()

Unnamed: 0           7001975
Dest                 7001975
Origin               7001975
Month                7001975
DayofMonth           7001975
DayOfWeek            7001975
DepTime              6865877
CRSDepTime           7001975
ArrTime              6850495
CRSArrTime           7001975
UniqueCarrier        7001975
FlightNum            7001975
TailNum              6918653
ActualElapsedTime    6847452
CRSElapsedTime       7001138
AirTime              6847452
ArrDelay             6847452
DepDelay             6865877
Distance             7001975
TaxiIn               6850495
TaxiOut              6865068
Cancelled            7001975
CancellationCode      137282
Diverted             7001975
CarrierDelay         1523071
WeatherDelay         1523071
NASDelay             1523071
SecurityDelay        1523071
LateAircraftDelay    1523071
dtype: int64

In [37]:
t=air.groupby(['UniqueCarrier'])['AirTime','ArrDelay','DepDelay','Distance'].sum()
t

                   AirTime   ArrDelay    DepDelay   Distance
UniqueCarrier
9E              17943869.0  1039703.0   1717328.0  117255064
AA              83023691.0  7381323.0   7802966.0  637069849
AQ                479657.0   -22393.0    -10844.0    3324846
AS              19577519.0   713407.0   1020350.0  144742019
B6              28859249.0  2129427.0   2440878.0  215745855
CO              45801055.0  3226245.0   3886953.0  344201013
DL              56346799.0  3487174.0   3564817.0  416476755
EV              18913586.0  2738089.0   3207384.0  123164536
F9              11609793.0   582629.0    565097.0   84291468
FL              26915564.0  2352057.0   2403285.0  190280649
HA               4599037.0    77397.0     27887.0   34688791
MQ              31636703.0  4660097.0   5054033.0  201593203
NW              38840572.0  2535588.0   2228375.0  279436146
OH              15270929.0  2253412.0   2205304.0   96320966
OO              38486157.0  3651902.0   4137581.0  243545409
UA              63520170.0  4945362.0   6196282.0  484785762
US              53474220.0  1270502.0   2556181.0  388224541
WN             108958467.0  6147817.0  12349540.0  763307895
XE              32522117.0  3865055.0   4154705.0  220656045
YV              15837509.0  2886462.0   2950054.0  100334283

In [66]:
air.describe()

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7.001975e+06,7.001975e+06,7.001975e+06,7.001975e+06,6.865877e+06,7.001975e+06,6.850495e+06,7.001975e+06,7.001975e+06,6.847452e+06,...,7.001975e+06,6.850495e+06,6.865068e+06,7.001975e+06,7.001975e+06,1.523071e+06,1.523071e+06,1.523071e+06,1.523071e+06,1.523071e+06
mean,3.500988e+06,6.375026e+00,1.572800e+01,3.924115e+00,1.333863e+03,1.326127e+03,1.481311e+03,1.494884e+03,2.221354e+03,1.273754e+02,...,7.268585e+02,6.860804e+00,1.645429e+01,1.960618e-02,2.462305e-03,1.575581e+01,3.033258e+00,1.716767e+01,7.504575e-02,2.078015e+01
std,2.021296e+06,3.406850e+00,8.797080e+00,1.988246e+00,4.781169e+02,4.642978e+02,5.053078e+02,4.827402e+02,1.960751e+03,7.020624e+01,...,5.622277e+02,4.932702e+00,1.133458e+01,1.386426e-01,4.956050e-02,4.007556e+01,1.948778e+01,3.190126e+01,1.838897e+00,3.926335e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.750494e+06,3.000000e+00,8.000000e+00,2.000000e+00,9.280000e+02,9.250000e+02,1.107000e+03,1.115000e+03,6.210000e+02,7.700000e+01,...,3.250000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.500988e+06,6.000000e+00,1.600000e+01,4.000000e+00,1.325000e+03,1.320000e+03,1.512000e+03,1.517000e+03,1.569000e+03,1.100000e+02,...,5.810000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00
75%,5.251482e+06,9.000000e+00,2.300000e+01,6.000000e+00,1.728000e+03,1.715000e+03,1.909000e+03,1.907000e+03,3.508000e+03,1.570000e+02,...,9.540000e+02,8.000000e+00,1.900000e+01,0.000000e+00,0.000000e+00,1.600000e+01,0.000000e+00,2.100000e+01,0.000000e+00,2.600000e+01
max,7.001975e+06,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.743000e+03,1.379000e+03,...,4.962000e+03,3.080000e+02,4.290000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

Looked at cancel rate and also destinations serviced. Cancel rate doesn't seem to be anything worth visualizing but can make a statement about being 2nd best in the nation or something in the text.

Destinations I struggled with the syntax. I think it makes sense to stick to only visualizing delays and such for the destinations that AQ services.

In [49]:
#What is AQ's cancelled flights rate vs the other airlines?

flightCnt=air.groupby(['UniqueCarrier'])['Month'].count()
canFlightCnt=air[np.isnan(air.AirTime)].groupby(['UniqueCarrier'])['Month'].count()
divFlightCnt=air.groupby(['UniqueCarrier'])['Diverted'].sum()
combinedDF=pd.DataFrame()

combinedDF["FlightCnt"] = flightCnt
combinedDF["CanFlightCnt"] = canFlightCnt
combinedDF["DivertedCnt"] = divFlightCnt #Number of diverted Flights in 2018
combinedDF["CancelRate"] = combinedDF.CanFlightCnt / combinedDF.FlightCnt
combinedDF["DivertedRate"] = combinedDF.DivertedCnt / combinedDF.FlightCnt
print(combinedDF.sort_values("CancelRate"))

               FlightCnt  CanFlightCnt  DivertedCnt  CancelRate  DivertedRate
UniqueCarrier
F9                 95762           378           75    0.003947      0.000783
AQ                  7800            48            6    0.006154      0.000769
HA                 61826           614           44    0.009931      0.000712
NW                347652          3542          636    0.010188      0.001829
FL                261684          2971          735    0.011353      0.002809
WN               1201754         14843         2454    0.012351      0.002042
CO                298455          4600          898    0.015413      0.003009
US                453589          7503          921    0.016541      0.002030
AS                151102          2610          471    0.017273      0.003117
DL                451931          7997         1184    0.017695      0.002620
B6                196091          3977          772    0.020281      0.003937
EV                275086          5591          674    0.020325      0.002450
OO                567155         13743         1307    0.024231      0.002304
UA                449515         11536          995    0.025663      0.002213
XE                374510         11096         1104    0.029628      0.002948
9E                260016          7833          774    0.030125      0.002977
AA                604885         19400         1960    0.032072      0.003240
OH                197539          6910          450    0.034980      0.002278
YV                254930          9799          580    0.038438      0.002275
MQ                490693         19532         1201    0.039805      0.002448

In [86]:
#How many destinations does AQ service?

#**Can't figure out how to get these as a dataseries of counts of unique destinations!!
dest = air.groupby(['UniqueCarrier'])['Dest'].unique()
print(dest)
#Here they are without the airline name (the index values)
for row in range(0,len(dest)):
    print(len(dest.iloc[row]))

UniqueCarrier
9E    [ABE, AGS, ALB, ALO, ATL, ATW, AUS, AVL, AVP, ...
AA    [ABQ, ANC, ATL, AUS, BDL, BHM, BNA, BOS, BUR, ...
AQ    [HNL, ITO, KOA, LAS, LIH, OAK, OGG, RNO, SAN, ...
AS    [ADK, ADQ, AKN, ANC, BET, BOI, BOS, BRW, BUR, ...
B6    [ACK, AUS, BNA, BOS, BQN, BTV, BUF, BUR, CLT, ...
CO    [ABQ, AGS, ANC, ATL, AUS, BDL, BHM, BOS, BQN, ...
DL    [ABQ, ANC, ATL, AUS, BDL, BHM, BNA, BOI, BOS, ...
EV    [ABE, ABY, ACY, AEX, AGS, ALB, ATL, ATW, AUS, ...
F9    [ABQ, ANC, ATL, AUS, BDL, BNA, BOI, BTR, CAK, ...
FL    [ATL, BMI, BOS, BTV, BUF, BWI, CAK, CHS, CLT, ...
HA    [HNL, ITO, KOA, LAS, LAX, LIH, OAK, OGG, PDX, ...
MQ    [ABI, ABQ, ACT, AEX, ALB, AMA, ATL, AUS, AZO, ...
NW    [ABQ, ALB, ANC, ATL, AUS, AZO, BDL, BHM, BIL, ...
OH    [ABE, ACK, AGS, ALB, ATL, ATW, AUS, AVL, AVP, ...
OO    [ABE, ABQ, ACV, ALB, AMA, ASE, ATL, ATW, AUS, ...
UA    [ABQ, ALB, ANC, ATL, AUS, BDL, BIL, BOI, BOS, ...
US    [ABE, ABQ, ALB, ANC, ATL, AUS, BDL, BHM, BNA, ...
WN    [ABQ, ALB, AMA, AUS, BDL, BHM, BNA, BOI, BUF, ...
XE    [ABE, ABQ, ACK, AEX, ALB, AMA, ATL, AUS, AVL, ...
YV    [ABE, ABQ, AGS, ALB, ASE, ATL, ATW, AUS, AVP, ...
Name: Dest, dtype: object
138
83
11
51
48
78
104
140
50
60
15
121
109
106
164
89
85
64
128
133